body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock{
  width: 40vw;
  height: 40vw;
  border: 1vw solid black;
  border-style: solid;
  border-radius: 100%;
  position: relative;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position: center center;
  background-color: white;
}
.clock_active div{
  display: block;
}
.clock:root{
  --secondPositionStart: 0deg;
  --secondPositionEnd: 0deg;
  --minutePositionStart: 0deg;
  --minutePositionEnd: 0deg;
  --hourPositionStart: 0deg;
  --hourPositionEnd: 0deg;
}

.clock_big{
  width: 90vw;
  height: 90vw;
}
img.logo{
  position: absolute;
  top: 25%;
  left: 60%;
  width: 12.5%;
  display: block;
  animation: test 2s linear infinite;
  z-index: 0;
}
img.title{
  position: absolute;
  top: 40%;
  left: 60%;
  width: 25%;
  z-index: 0;
}
.time{
  font-family: 'Russo One', sans-serif;
  font-size: 3vw;
  color: #662D8F;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.clock_big .time{
  font-size: 6vw;
}
.hour, .minute, .second{
  position: absolute;
  border-radius: 100px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  -webkit-transform: translate(-50%, 20%);
  transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.733);
  display: none;
}
.hour{
  height: 40%;
  width: 2.8%;
  background-color: #662D8F;
  animation: goHour 43200s linear infinite;
  z-index: 1;
}
.minute{
  height: 45%;
  width: 1.8%;
  background-color: #4A9FE0;
  animation: goMinute 3600s linear infinite;
  z-index: 2;
}
.second{
  height: 50%;
  width: 0.8%;
  background-color: #FF9D00;
  animation: goSecond 60s linear infinite;
  z-index: 3;
}
.contre{
  position: absolute;
  border-radius: 100px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 4%;
  height: 4%;
  background-color: black;
  z-index: 4;
}
.settings{
  display: block;
  position: absolute;
  width: 6%;
  height: 10%;
  background-color: black;
  border-radius: 5px;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  cursor: pointer;
  z-index: 0;
}
.alarm{
  position: absolute;
  top: 40%;
  right: 0;
  z-index: -1;
  width: 10vw;
  transition: all 0.3s;
}
.reminder{
  position: absolute;
  bottom: 40%;
  right: 0;
  z-index: -1;
  width: 20vw;
  transition: all 0.3s;
}
.button_active{
  right: -20vw;
  z-index: 0;
}
@keyframes goSecond{
  0%{
    transform: translate(-50%, 20%) rotate(var(--secondPositionStart));
    -ms-transform: translate(-50%, 20%) rotate(var(--secondPositionStart));
    -webkit-transform: translate(-50%, 20%) rotate(var(--secondPositionStart));
  }
  100%{
    transform: translate(-50%, 20%) rotate(var(--secondPositionEnd));
    -ms-transform: translate(-50%, 20%) rotate(var(--secondPositionEnd));
    -webkit-transform: translate(-50%, 20%) rotate(var(--secondPositionEnd));
  }
}
@keyframes goMinute{
  0%{
    transform: translate(-50%, 20%) rotate(var(--minutePositionStart));
  }
  100%{
    transform: translate(-50%, 20%) rotate(var(--minutePositionEnd));
  }
}
@keyframes goHour{
  0%{
    transform: translate(-50%, 20%) rotate(var(--hourPositionStart));
  }
  100%{
    transform: translate(-50%, 20%) rotate(var(--hourPositionEnd));
  }
}
@keyframes test{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
